body {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-size: 40px;
}

li {
    font-size: 20px;
    margin: 10px;
}

img {
    width: 400px;
    height: 400px;
    display: block;
}

.home-link {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}
